# Client
/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out

/client/node_modules
/client/npm-debug.log
/client/yarn-error.log

/client/.angular/cache
/client/.sass-cache/
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
/client/testem.log
/client/typings

# Server
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db
