<input #tooManyRequestsModal type="checkbox" id="too-many-requests-modal" class="modal-toggle">
<div class="modal items-center p-5">
  <div class="modal-box rounded-xl border-2 border-red-700">
    <p class="py-4">You must wait 60 seconds before you can request another login link.</p>
    <div class="modal-action">
      <label for="too-many-requests-modal" class="btn">Close</label>
    </div>
  </div>
</div>

<input #emailSentModal type="checkbox" id="email-sent-modal" class="modal-toggle hidden">
<div class="modal items-center p-5">
  <div class="modal-box rounded-xl">
    <p class="py-4">Check your inbox for the login link.</p>
    <div class="modal-action">
      <label for="email-sent-modal" class="btn">Close</label>
    </div>
  </div>
</div>

<div class="max-w-md mx-auto h-screen drawer w-full">
  <div class="flex flex-col drawer-content">
    <div *ngIf="!preLoading" class="p-4">
      <div class="text-center mb-5">
        <p class="text-4xl font-extrabold mb-3">
          <span class="text-primary">A</span>ppsence
        </p>
        <p class="opacity-90">Login / Register</p>
      </div>
      <div class="card bg-accent shadow-xl">
        <div class="card-body select-none">
          <div class="flex flex-col w-full border-opacity-50">
            <div (click)="signInGoogle()"
                 class="w-100 h-10 flex cursor-pointer justify-center items-center bg-secondary rounded-md">
              <i-tabler name="brand-google"></i-tabler>
              <span class="ml-3">Sign-in with Google</span>
            </div>
            <div class="divider">Or</div>
            <form [formGroup]="signInForm" (ngSubmit)="signInEmail()">
              <input type="email" formControlName="email" placeholder="Email" value="" class="input w-full">
              <button
                [ngClass]="{'loading': loading}"
                [disabled]="loading"
                type="submit"
                class="btn btn-sm btn-primary mt-5 float-right">
                Send login link
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed bottom-0 left-0 p-3 w-full flex justify-center">
      <a href="https://github.com/jonaznas/appsence" target="_blank" class="font-medium text-xs">
        Created with ☕️ by jonaznas
      </a>
    </div>
    <div *ngIf="preLoading" class="flex h-screen items-center justify-center">
      <img src="assets/spinner-1.svg" class="">
    </div>
  </div>
</div>
