<input #tooManyRequestsModal type="checkbox" id="too-many-requests-modal" class="modal-toggle">
<div class="modal items-center p-5">
  <div class="modal-box rounded-xl border-2 border-red-700">
    <p class="py-4">Du musst 60 Sekunden warten bis du einen weiteren Anmeldelink anfordern kannst.</p>
    <div class="modal-action">
      <label for="too-many-requests-modal" class="btn">Schließen</label>
    </div>
  </div>
</div>

<input #emailSentModal type="checkbox" id="email-sent-modal" class="modal-toggle hidden">
<div class="modal items-center p-5">
  <div class="modal-box rounded-xl">
    <p class="py-4">Dir wurde ein Link per E-Mail gesendet.</p>
    <div class="modal-action">
      <label for="email-sent-modal" class="btn">Schließen</label>
    </div>
  </div>
</div>

<div class="max-w-md mx-auto h-screen drawer w-full">
  <div class="flex flex-col drawer-content">
    <div class="p-4">

      <div *ngIf="!preLoading" class="card bg-accent shadow-xl">
        <div class="card-body select-none">
          <div class="flex flex-col w-full border-opacity-50">
            <div (click)="signInGoogle()" class="w-100 h-10 flex cursor-pointer justify-center items-center bg-secondary rounded-md">
              <i-tabler name="brand-google"></i-tabler>
              <span class="ml-3">Mit Google anmelden</span>
            </div>
            <div class="divider">Oder</div>
            <form [formGroup]="signInForm" (ngSubmit)="signInEmail()">
              <input type="email" formControlName="email" placeholder="E-Mail" value="" class="input w-full">
              <button
                [ngClass]="{'loading': loading}"
                [disabled]="loading"
                type="submit"
                class="btn btn-sm btn-primary mt-5 float-right">
                Anmeldelink senden
              </button>
            </form>
          </div>
        </div>
      </div>

      <div *ngIf="preLoading" class="flex h-screen items-center justify-center">
        <img src="assets/spinner-1.svg" class="">
      </div>

    </div>
  </div>
</div>
