<div class="pb-5 flex justify-between items-center">
  <h2 class="card-title">Absences</h2>
  <select
    [(ngModel)]="historyLimit"
    (ngModelChange)="loadAbsenceHistory()"
    class="select select-bordered select-xs bg-accent border-0">
    <option value="10" selected>10 items</option>
    <option value="25">25 items</option>
    <option value="40">40 items</option>
    <option value="1000">Everything</option>
  </select>
</div>

<div *ngIf="!absenceHistory" class="flex justify-center">
  <img src="assets/spinner-1.svg" alt="spinner">
</div>

<div *ngFor="let historyItem of absenceHistory">
  <div class="text-sm breadcrumbs">
    <ul>
      <li>{{ historyItem.year }}</li>
      <li>{{ getMonthName(historyItem.month) }}</li>
    </ul>
  </div>
  <app-absence-history-item
    *ngFor="let absence of historyItem?.absences"
    [absence]="absence"
  ></app-absence-history-item>
</div>
