<div class="fixed bottom-0 right-0 p-5 shadow">
  <button routerLink="/absence/new" class="btn btn-circle w-16 h-16">
    <i-tabler name="plus" class="p-3 min-h-full min-w-full"></i-tabler>
  </button>
</div>

<div class="pb-5">
  <h2 class="card-title">Hey {{ profile?.name }} 👋</h2>
  <p class="mt-2 text-sm leading-relaxed">Angemeldet als {{ email }}</p>
</div>

<div class="stats bg-primary text-primary-content block text-center mb-4">
  <div class="stat">
    <div class="stat-title">Fehlzeit der letzten 30 Tage</div>
    <div class="stat-value">{{ statistic.last30Days }} Stunden</div>
  </div>
</div>

<div class="flex gap-2">
  <div class="shadow-lg rounded-2xl p-4 bg-accent block w-full">
    <div class="flex items-center">
      <p class="text-md ml-2 text-gray-500">
        Insgesamt
      </p>
    </div>
    <div class="flex flex-col justify-start">
      <p class="text-4xl text-left font-bold my-4">
        {{ statistic.all }}
        <span class="text-sm">
          Stunden
        </span>
      </p>
    </div>
  </div>
  <div class="shadow-lg rounded-2xl p-4 bg-accent block w-full">
    <div class="flex items-center">
      <p class="text-md ml-2 text-gray-500">
        Dieses Jahr
      </p>
    </div>
    <div class="flex flex-col justify-start">
      <p class="text-4xl text-left font-bold my-4">
        {{ statistic.thisYear }}
        <span class="text-sm">
          Stunden
        </span>
      </p>
    </div>
  </div>

</div>

