<input [checked]="!!error" type="checkbox" class="modal-toggle">
<div class="modal items-center p-5">
  <div class="modal-box rounded-xl border-2 border-red-700">
    <p class="py-4">{{ error || 'There was an error processing your request. Please try it again.' }}</p>
    <div class="modal-action">
      <label (click)="error = null" class="btn">Close</label>
    </div>
  </div>
</div>

<div class="flex justify-between mb-5">
  <div class="text-sm breadcrumbs">
    <ul>
      <li>
        New absence
      </li>
      <li>
        <b>Date</b>
      </li>
    </ul>
  </div>
  <button routerLink="/absence/new" class="btn btn-sm btn-secondary">Back</button>
</div>

<form [formGroup]="newAbsenceForm" (ngSubmit)="submitAbsence()">
  <div class="card bg-accent shadow-xl">
    <div class="card-body select-none">
      <div class="flex flex-col w-full border-opacity-50">
        <div class="mb-2">
          <label class="label">
            <span class="label-text">How many hours?</span>
          </label>
          <input
            formControlName="hours"
            type="number"
            min="1"
            max="24"
            value="1"
            inputmode="decimal"
            class="input input-bordered input-lg w-25">
        </div>

        <div class="mb-2">
          <label class="label">
            <span class="label-text">Why are you missing?</span>
          </label>
          <select formControlName="type" class="select w-full">
            <option value="0" selected>No reason</option>
            <option value="1">Sick</option>
            <option value="2">Appointment</option>
          </select>
        </div>

        <div class="mb-4">
          <label class="label">
            <span class="label-text">Choose a date</span>
          </label>
          <div class="input-group">
            <input #datePicker formControlName="date" type="date" class="input rounded-lg bg-base-100">
            <button (click)="triggerDatePicker()" type="button" class="btn btn-square">
              <i-tabler name="calendar-event"></i-tabler>
            </button>
          </div>
        </div>

        <div class="form-control mb-4">
          <label class="label cursor-pointer">
            <span class="label-text">Must be excused</span>
            <input formControlName="mustExcused" type="checkbox" checked="checked" class="checkbox checkbox-primary">
          </label>
        </div>

        <div *ngIf="!showAnnotations" class="w-full">
          <label class="label float-right">
            <a (click)="showAnnotations = true" class="label-text-alt link underline">Add annotation</a>
          </label>
        </div>

        <div *ngIf="showAnnotations">
          <label class="label">
            <span class="label-text">Annotation</span>
            <span (click)="showAnnotations = false" class="label-text-alt link underline">Hide</span>
          </label>
          <textarea
            formControlName="annotation"
            maxlength="100"
            rows="3"
            class="textarea w-full"
            placeholder="Up to 100 characters">
          </textarea>
        </div>

      </div>
    </div>
  </div>
  <button
    [ngClass]="{'loading': loading}"
    [disabled]="loading || !newAbsenceForm.valid"
    type="submit"
    class="btn btn-primary mt-5 w-full">
    Create absence
  </button>
</form>
