::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #171718;
}

::-webkit-scrollbar-thumb {
  background: #121213;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #262627;
}
