<div class="pb-5">
  <h2 class="card-title">When are you missing?</h2>
</div>

<div routerLink="/absence/new/today"
     class="flex items-center justify-between relative mb-4 p-4 w-full bg-accent rounded-lg select-none cursor-pointer">
  <div class="flex">
    <div class="flex items-center justify-center w-10 h-10 rounded-full bg-base-100">
      <tabler-icon name="calendar-event" class="text-light-100"></tabler-icon>
    </div>
    <div class="ml-3">
      <p class="font-medium text-light-100">Today</p>
      <p class="text-sm text-gray-500">Create absence for this day.</p>
    </div>
  </div>
  <tabler-icon name="chevron-right"></tabler-icon>
</div>

<div routerLink="/absence/new/date"
     class="flex items-center justify-between relative mb-4 p-4 w-full bg-accent rounded-lg select-none cursor-pointer">
  <div class="flex">
    <div class="flex items-center justify-center w-10 h-10 rounded-full bg-base-100">
      <tabler-icon name="calendar-time" class="text-light-100"></tabler-icon>
    </div>
    <div class="ml-3">
      <p class="font-medium text-light-100">Certain date</p>
      <p class="text-sm text-gray-500">Choose another day.</p>
    </div>
  </div>
  <tabler-icon name="chevron-right"></tabler-icon>
</div>
